@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Serif&display=swap');

/* 全局正文 */
body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  line-height: 1.7;
}

/* 标题 */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif', serif;
  font-weight: 500;
}

.post-title{
    font-size: 2.3rem;
}

.post-content h1 {
    font-size: 1.7rem;
}
.post-content h2 {
    font-size: 1.5rem;
}
.post-content h3 {
    font-size: 1.3rem;
}
.post-content h4 {
    font-size: 1.3rem;
}